<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Statistics of the source code, (c) Stas Tikhonov</title>
    <partial name="StylesPartial" />
    <partial name="ScriptsPartial" />
</head>
<body>
    @await RenderSectionAsync("Scripts", required: false)
    <header>
    </header>
    <div class="container">
        <main role="main">
            @RenderBody()
        </main>
    </div>
</body>
</html>